body{
    background-color: rgb(70, 75, 74);
    margin: 10px;
    margin-left: 10px;   
}

.container{
    width: 170px;
    height: 210px;
    background-color: rgb(99, 96, 96);
    border-radius: 30px; 
    border: 3px solid rgb(0, 0, 0);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    image-rendering: pixelated;
}


.btn{
    display: flex;
    padding: 10px;
    margin-left: -20px;

}


.button:hover {
    transform: scale(1.2);

}

.button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    align-items: center;
    padding-right: 20px;
    margin-left: 20px;
}

i {
    color: white;
    scale: 150%;
}

.btn-sound {
    background-color: inherit;
    border: none;
    cursor: pointer;
}




