body{
    background-color: rgb(70, 75, 74);
    margin: 10px;
    margin-left: 10px;   
}

.container{
    width: 230px;
    height: 210px;
    background-color: rgb(99, 96, 96);
    border-radius: 30px; 
    border: 3px solid rgb(0, 0, 0);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    image-rendering: pixelated;
}
.lol1{
    display: flex;
    margin-left: 10px;
    
}

.cast_mute_container{
    display: flex;
    padding: 10px;
    margin-left: -20px;
   
}

.cast_volume_container{
    display: flex;
    margin-right: -20px;
}

#muteToggle{
    margin-left: 60px;
}

.cast_mute_container img{
    width: 40px;
}

.cast_volume_container img{
    width: 40px;
}

.container_t img {
    width: 40px;
}


img{
    width: 110px;
    filter: grayscale(.8);
}

.button:hover {
    transform: scale(1.1);
    
}

#start_button{
    margin-top: -50px;
}

.start_btn{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    margin-left: 53px;
    margin-right: 10px;
    margin-top: -30px;
}

.cast_mute_button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    align-items: center;
    padding-right: 35px;
    margin-left: 20px;
}

.cast_volume_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    padding-right: 35px;
    margin-left: 20px;
}

#muteToggle, .cast_volume_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.cast2{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    align-items: center;
}