body{
    background-color: rgb(70, 75, 74);
    margin: 10px;
    margin-left: 10px;   
}

.container{
    width: 170px;
    height: 210px;
    background-color: rgb(99, 96, 96);
    border-radius: 30px; 
    border: 3px solid rgb(0, 0, 0);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    image-rendering: pixelated;
}
.btn-container{
    display: flex;
    margin-left: 10px;
    
}

.cast_mute_container{
    display: flex;
    padding: 10px;
    margin-left: -20px;
   
}

.cast_mute_container img{
    width: 40px;
}

.container_t img {
    width: 40px;
}


img{
    width: 110px;
    filter: grayscale(.8);
}

.button:hover {
    transform: scale(1.1);
    
}


#start_button{
    margin-top: 10px;
}

.play_pause{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    margin-left: 25px;
    margin-right: 10px;
    margin-top: -30px;
}

.cast_mute_button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    align-items: center;
    padding-right: 35px;
    margin-left: 20px;

}

.cast2{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    align-items: center;
}

.seekslide{
   color: rgb(0, 0, 0);
    width: 250px;
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
    align-items: center;
}

.time{
    margin-left: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
